{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Основные стили для липкого футера */
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1 0 auto; /* занимает всё доступное пространство */
        }
        footer {
            flex-shrink: 0; /* не сжимается */
        }
        </style>
    <title>Главная страница</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Выберите действие:</p>

        <ul class="list-group">

            <li class="list-group-item">
                <a href="http://127.0.0.1:8000/admin/Issuance/logbook/">
                    Добавить запрос (admin)
                </a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'Queue:newrecipient_list' %}">
                    Очередь на получение
                </a>
            </li>

            <li class="list-group-item">
                <a href="{% url 'Issuance:logbook_list' %}">
                    Выгрузка журнала выдачи в Excel
                </a>
            </li>

        </ul>
    </div>

    {% bootstrap_javascript %}
</body>
</html>

 {% endblock %}

{% block footer %}
    <div class="footer container mt-4">
        <div class="card border-info">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <strong>Версия:</strong> {{ current_version }}
                </div>
                <div>
                    <strong>Последнее изменение:</strong> {{ updated_at }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}